﻿
@{
    ViewBag.Title = "Kit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Gestione Kit</h2>

<div id="KitHeadGrid">
    <script>
        var lastRowIndex = null;
        $(document).ready( function () {
            kendo.culture("it-IT");

                dataSourceKH = new kendo.data.DataSource({
                    transport: {
                        read:  {
                            url: "/Kithead/readAll",
                            dataType: "json"
                        },
                        update: {
                            url: "/Kithead/update",
                            dataType: "json"
                        },
                        destroy: {
                            url: "/Kithead/destroy",
                            dataType: "json"
                        },
                        create: {
                            url: "/Kithead/create",
                            dataType: "json"
                        },
                        parameterMap: function(model, operation) {
                            if (operation !== "read" && model) {
                                return { model: kendo.stringify(model) };
                            }
                            return model;
                        }
                    },
                    //batch: true,
                    pageSize: 30,
                    schema: {
                        model: {
                            id: "KIH_ID",
                            fields: {
                                KIH_ID: { type: "number", editable: false },
                                Description: { type: "string" },
                                kitHeadCost: { type: "number", editable: false },
                                CreationDate: { type: "date", editable: false },
                            }
                        }
                    }
                });

                $("#KitHeadGrid").kendoGrid({
                    dataSource: dataSourceKH,
                    navigable: true,
                    //height: 650,
                    //filterable: {mode: "row"},
                    pageable: true,
                    detailInit: detailInit,
                    dataBound: function () {
                        var row = $(this.tbody).find("tr.k-master-row:eq(" + lastRowIndex + ")");
                        this.expandRow(row);
                    },
                    editable: {
                        mode: "popup",
                        window: {
                            title: "Crea/Modifica",
                            width: "45%",
                            height: "40%",
                        }
                    },
                    //edit: function (e) {},
                    resizable: true,
                    //sortable: true,
                    //dataBound: function(e){},
                    //filterable: true,
                    toolbar: ["create", ],
                    columns: [
                        { field: "KIH_ID", title: "Id", hidden: true },
                        { field: "Description", title: "Descrizione", validation: { required: true } },
                        { field: "kitHeadCost", title: "Costo",format: '{0:n2}' },
                        { field: "CreationDate", title: "Data Creazione", format: "{0:dd/MM/yy}" },
                        { command: ["edit"], title: "" },
                        { command: ["destroy"], title: "" },

                    ],
                });


                function detailInit(e) {
                    lastRowIndex = $(e.masterRow).index(".k-master-row");
                    $("<div/>").appendTo(e.detailCell).kendoGrid({
                        dataSource: {
                            transport: {
                                read: {
                                    url: "/Kitdetail/read",
                                    dataType: "json",
                                },
                                update: {
                                    url: "/Kitdetail/update",
                                    dataType: "json",
                                },
                                destroy: {
                                    url: "/Kitdetail/destroy",
                                    dataType: "json"
                                },
                                create: {
                                    url: "/Kitdetail/create",
                                    dataType: "json"
                                },
                                parameterMap: function (model, operation) {
                                    if (operation !== "read" && model) {
                                        return { model: kendo.stringify(model) };
                                    }
                                    else {
                                        return { filter: model.filter.filters[0].value };
                                    }
                                }
                            },
                            schema: {
                                model: {
                                    id: "KID_ID",
                                    fields: {
                                        KID_ID: { type: "number" ,  editable:false },
                                        KitHeadCode: { type: "number", defaultValue: e.data.KIH_ID, editable: false },
                                        ArtCode: { validation: { required: true } },
                                        ArtDescr: { type: "text" },
                                        Supplier: { type: "text" },
                                        Producer: { type: "text" },
                                        AreaCode: { type: "text" },
                                        ClassCode: { type: "text" },
                                        SectorCode: { type: "text" },
                                        kitDetailCost: { type: "number", editable: false },
                                        Quantity: { type: "number", defaultValue: 1, validation: { required: true, min: 1 } },
                                        UnitCost: { type: "number", validation: { required: true, min: 1 } },
                                        //UnitPrice: { type: "number", validation: { required: true, min: 1 } },
                                        UnitMaintenancePrice: { type: "number" },
                                    }
                                }
                            },
                            sync: function (e) {
                                $("#KitHeadGrid").data("kendoGrid").dataSource.read();
                            },
                            //serverPaging: true,
                            //serverSorting: true,
                            serverFiltering: true,
                            //pageSize: 15,
                            filter: { field: "KIH_ID", operator: "eq", value: e.data.KIH_ID }
                        },
                        toolbar: ["create"],
                        editable: {
                            mode: "popup",
                            window: {
                                title: "Crea/Modifica",
                                width: "65%",
                                height: "65%",
                            }
                        },
                        //dataBound: function () { },
                        edit: function (e) {
                            var dropDownClass = $(e.container).find("#ClassCode");
                            var dropDownSector = $(e.container).find("#SectorCode");

                            dropDownClass.data("kendoDropDownList").bind("dataBound", function (ee) {
                                if ($.isEmptyObject(e.model.ClassCode) == false) {
                                    ee.sender.value(e.model.ClassCode);
                                }
                            });

                            dropDownSector.data("kendoDropDownList").bind("dataBound", function (ee) {
                                if ($.isEmptyObject(e.model.SectorCode) == false) {
                                    ee.sender.value(e.model.SectorCode);
                                }
                            });

                            dropDownClass.data("kendoDropDownList").dataSource.filter({ field: "AreaCode", operator: "equals", value: e.model.AreaCode });
                            dropDownSector.data("kendoDropDownList").dataSource.filter({ field: "ClassCode", operator: "equals", value: e.model.ClassCode });
                        },
                        //scrollable: false,
                        //sortable: true,
                        //pageable: true,
                        columns: [
                            //{ field: "ArtCGrossSelection", title: "Art CGross", editor: artCGrossEditor, hidden: true, template: "#=ArtCode.Descrizione#" },
                            { field: "ArtSapSelection", title: "Art SAP", editor: artSapEditor, hidden: true, template: "#=ArtCode.ItemCode#" },
                            { field: "ArtCode", title: "Codice" },
                            { field: "ArtDescr", title: "Descrizione" },
                            { field: "Supplier", title: "Fornitore", hidden: true },
                            { field: "Producer", title: "Produttore", hidden: true },
                            { field: "AreaCode", title: "Area", editor: areaEditor, hidden: true },
                            { field: "ClassCode", title: "Classe", editor: classEditor, hidden: true },
                            { field: "SectorCode", title: "Settore", editor: sectorEditor, hidden: true },
                            { field: "Quantity", title: "Quantità", format: '{0:n0}' },
                            { field: "UnitCost", title: "Costo", hidden: true, editor: numberEditor2Dec, format: '{0:n2}' },
                            { field: "kitDetailCost", title: "Costo Tot", format: '{0:n2}' },
                            //{ field: "UnitPrice", title: "Prezzo unitario", hidden: true, editor: numberEditor2Dec, format: '{0:n2}' },
                            { command: ["edit"], title: "" },
                            { command: ["destroy"], title: "" },
                        ]
                    });
                }

                function numberEditor2Dec(container, options) {
                    $('<input name="' + options.field + '"/>')
                            .appendTo(container)
                            .kendoNumericTextBox({
                                format: "{0:n2}",
                                decimals: 2,
                                step: 0.01,
                            });
                }

                function areaEditor(container, options) {
                    $('<input id="AreaCode" data-text-field="AreaDesc" data-value-field="AreaCode" data-bind="value:AreaCode"/>')
                        .appendTo(container)
                        .kendoDropDownList({
                            autoBind: true,
                            change: function (e) {
                                options.model.set("AreaCode", e.sender.dataItem().AreaCode);
                                $("#ClassCode").data("kendoDropDownList").dataSource.filter({ field: "AreaCode", operator: "equals", value: e.sender.dataItem().AreaCode });

                            },
                            optionLabel: '-',
                            dataSource: {
                                serverFiltering: true,
                                transport: {
                                    read: {
                                        url: "/articles/ReadAreas",
                                        dataType: "json",
                                    }
                                }
                            }
                        });
                };
                function classEditor(container, options) {
                    $('<input id="ClassCode" data-text-field="ClassDesc" data-value-field="ClassCode" data-bind="value:ClassCode"/>')
                        .appendTo(container)
                        .kendoDropDownList({
                            autoBind: false,
                            change: function (e) {
                                options.model.set("ClassCode", e.sender.dataItem().ClassCode);
                                $("#SectorCode").data("kendoDropDownList").dataSource.filter({ field: "ClassCode", operator: "equals", value: e.sender.dataItem().ClassCode });
                            },
                            optionLabel: '-',
                            dataSource: {
                                serverFiltering: true,
                                transport: {
                                    read: {
                                        url: "/articles/ReadClasses",
                                        dataType: "json",
                                    },
                                    parameterMap: function (f, operation) {
                                        if ($.isEmptyObject(f) == false && $.isEmptyObject(f.filter) == false && f.filter.filters.length > 0)
                                            return { filter: f.filter.filters[0].value };

                                    }
                                }
                            }
                        });
                };
                function sectorEditor(container, options) {
                    $('<input id="SectorCode" data-text-field="SectorDesc" data-value-field="SectorCode" data-bind="value:SectorCode"/>')
                        .appendTo(container)
                        .kendoDropDownList({
                            autoBind: false,
                            change: function (e) {
                                options.model.set("SectorCode", e.sender.dataItem().SectorCode);
                            },
                            optionLabel: '-',
                            dataSource: {
                                serverFiltering: true,
                                transport: {
                                    read: {
                                        url: "/articles/ReadSectors",
                                        dataType: "json",
                                    },
                                    parameterMap: function (f, operation) {
                                        if ($.isEmptyObject(f) == false && $.isEmptyObject(f.filter) == false && f.filter.filters.length > 0)
                                            return { filter: f.filter.filters[0].value };
                                    }
                                }
                            }
                        });
                };

                function artCGrossEditor(container, options) {

                    $('<input data-text-field="Descrizione" data-value-field="Codice" data-bind="value:ArtCode"/>')
                        .appendTo(container)
                        .kendoDropDownList({
                            filter: "contain",
                            autoBind: true,
                            optionLabel: '-',
                            change: function (e) {
                                options.model.set("ArtCode", e.sender.dataItem().Codice);
                                options.model.set("ArtDescr", e.sender.dataItem().Descrizione);
                                options.model.set("Producer", e.sender.dataItem().Vendor);
                                options.model.set("Supplier", "Cumputer Gross");
                                options.model.set("UnitCost", e.sender.dataItem().Prezzo_Rivenditore);
                                //options.model.set("UnitPrice", e.sender.dataItem().Prezzo_Rivenditore);
                            },
                            dataSource: {
                                serverFiltering: true,
                                transport: {
                                    read: {
                                        url: "/articles/ReadArtCGross",
                                        dataType: "json",
                                    },
                                    parameterMap: function (f, operation) {
                                        if ($.isEmptyObject(f) == false && $.isEmptyObject(f.filter) == false && f.filter.filters.length > 0)
                                            return { filter: f.filter.filters[0].value };
                                    }
                                }
                            }
                        });
                };
                function artSapEditor(container, options) {

                    $('<input data-text-field="ItemName" data-value-field="ItemCode" data-bind="value:ArtCode"/>')
                        .appendTo(container)
                        .kendoDropDownList({
                            filter: "contain",
                            autoBind: true,
                            optionLabel: '-',
                            change: function (e) {
                                options.model.set("ArtCode", e.sender.dataItem().ItemCode);
                                options.model.set("ArtDescr", e.sender.dataItem().ItemName);
                                options.model.set("Supplier", "Sconosciuto");
                                options.model.set("Producer", "Sconosciuto");
                                options.model.set("AreaCode", e.sender.dataItem().U_SED_AREA_AFFARI);
                                options.model.set("ClassCode", e.sender.dataItem().U_SED_CLASSE_VENDITE);
                                options.model.set("SectorCode", e.sender.dataItem().U_SED_SETTORI);
                            },
                            dataSource: {
                                serverFiltering: true,
                                transport: {
                                    read: {
                                        url: "/articles/ReadArtSap",
                                        dataType: "json",
                                    },
                                    parameterMap: function (f, operation) {
                                        if ($.isEmptyObject(f) == false && $.isEmptyObject(f.filter) == false && f.filter.filters.length > 0)
                                            return { filter: f.filter.filters[0].value };
                                    }
                                }
                            }
                        });
                };

        })
    </script>
</div>
