﻿@using System.Security.Claims;

@{
    string fakeShippingCode = System.Configuration.ConfigurationManager.AppSettings["StringAddressCode"];
    var claimsIdentity = User.Identity as ClaimsIdentity;
    int id = 0;

    if (claimsIdentity != null)
    {
        // the principal identity is a claims identity.
        // now we need to find the NameIdentifier claim
        var userIdClaim = claimsIdentity.Claims
            .FirstOrDefault(x => x.Type == ClaimTypes.NameIdentifier);

        if (userIdClaim != null)
        {
            id = int.Parse(userIdClaim.Value);
        }
    }
    bool isTech = (OrdiniSDG.Classes.Globals.getEFContext().USR_User.Where(u => u.USR_ID == id).FirstOrDefault().Role == 4);
    var roles = ((ClaimsIdentity)User.Identity).Claims
                .Where(c => c.Type == ClaimTypes.Role)
                .Select(c => c.Value);
    bool canEdit = roles.Any(x => x == "1");
    bool canRemove = roles.Any(x => x == "1");
    int ApproveID = Convert.ToInt32(System.Configuration.ConfigurationManager.AppSettings["ApproveUsers"]);
    bool IDApprove = (OrdiniSDG.Classes.Globals.getEFContext().USR_User.Where(u => u.USR_ID == id).FirstOrDefault().USR_ID == ApproveID);
}
<div class="panel">
    <div class="panel-heading row">
        <div class="col-md-2">
            <span class="k-widget k-datepicker k-header" style=""><span class="k-picker-wrap k-state-default"><input id="monthpicker" placeholder="Mese e Anno" data-role="datepicker" type="text" class="k-input" role="combobox" aria-expanded="false" aria-owns="monthpicker_dateview" aria-disabled="false" style="width: 100%;" aria-activedescendant="2c96e0ab-fa9e-4a72-874e-ac463931612b_cell_selected"><span unselectable="on" class="k-select" aria-label="select" role="button" aria-controls="monthpicker_dateview"><span class="k-icon k-i-calendar"></span></span></span></span>
        </div>
        <div class="col-md-2">
            <input id="CusOrdOrdId" placeholder="Cliente o num Ordine" class="k-input k-textbox">
        </div>

        <div class="col-md-2">
            <span title="" class="k-widget k-dropdown k-header" unselectable="on" role="listbox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-owns="filterSap_listbox" aria-disabled="false" aria-busy="false" aria-activedescendant="ae0c8c89-ff11-44b3-96de-cf132cab5ff7" style=""><span unselectable="on" class="k-dropdown-wrap k-state-default"><span unselectable="on" class="k-input">Tutti</span><span unselectable="on" class="k-select" aria-label="select"><span class="k-icon k-i-arrow-s"></span></span></span><div id="filterSap" data-role="dropdownlist" style="display: none;"></div></span>
        </div>

        <div class="col-md-3">
            <span id="filterButton" data-role="button" class="k-button k-button-icontext" role="button" aria-disabled="false" tabindex="0"><span class="k-icon k-i-filter"></span>Filtra</span>
            <span id="cancelButton" data-role="button" class="k-button k-button-icontext" role="button" aria-disabled="false" tabindex="0"><span class="k-icon k-i-cancel"></span>Rimuovi Filtri</span>
        </div>
    </div>
</div>
<div id="grid"></div>

<script src="" id="popup_editor_orderHeadGrid" type="text/x-kendo-template">
    <div class="col-sm-6">
        <div class="k-edit-label"><label for="ORD_ID">Id</label></div>
        <div data-container-for="ORD_ID" class="k-edit-field k-state-disabled">
            <input type="text" name="ORD_ID" data-type="number" disabled="disabled" data-bind="value:ORD_ID" data-format="n0" data-role="numerictextbox" class="k-input">
        </div>
        <div class="k-edit-label"><label for="SAP_ORD_ID">Id SAP</label></div>
        <div data-container-for="SAP_ORD_ID" class="k-edit-field k-state-disabled">
            <input type="text" name="SAP_ORD_ID" data-type="number" disabled="disabled" data-bind="value:SAP_ORD_ID" data-format="n0" data-role="numerictextbox" class="k-input">
        </div>
        <div class="k-edit-label"><label for="OfferNumber">Numero Opportunità</label></div>
        <div data-container-for="OfferNumber" class="k-edit-field">
            <input type="text" name="OfferNumber" data-bind="value:OfferNumber" class="k-input k-textbox">
        </div>
        <div class="k-edit-label"><label for="Customer">Cliente</label></div>
        <div data-container-for="Customer" class="k-edit-field">
            <input type="text" required name="CustomerCode" id="CustomerCode" data-auto-bind="false" data-value-field="CustomerCode" data-text-field="CustomerDescription" data-filter="contains" data-bind="value:CustomerCode" data-source="dropDownCus" data-role="dropdownlist">
        </div>
        <div class="k-edit-label"><label for="ShippingAddress">Ricerca indirizzo Sped</label></div>
        <div data-container-for="ShippingAddress" class="k-edit-field">
            <input type="text" name="ShippingAddress" data-bind="value:ShippingAddressCode" data-cascade-from="CustomerCode" data-cascade-from-field="CustomerCode" data-value-field="ShippingAddressCode" data-text-field="ShippingAddressDesc" data-filter="contains" data-source="dropDownShip" data-role="dropdownlist">
        </div>

        <div class="k-edit-label"><label for="ShippingAddressDesc">Via e civico</label></div>
        <div data-container-for="ShippingAddressDesc" class="k-edit-field">
            <input type="text" name="ShippingAddressDesc" data-bind="value:ShippingAddressDesc" data-value-field="ShippingAddressCode" class="k-input k-textbox">
        </div>
        <div class="k-edit-label"><label for="ShippingCap">Cap</label></div>
        <div data-container-for="ShippingCap" class="k-edit-field">
            <input type="text" name="ShippingCap" data-bind="value:ShippingCap" data-value-field="ShippingCap" class="k-input k-textbox">
        </div>
        <div class="k-edit-label"><label for="ShippingLocality">Località</label></div>
        <div data-container-for="ShippingLocality" class="k-edit-field">
            <input type="text" name="ShippingLocality" data-bind="value:ShippingLocality" data-value-field="ShippingLocality" class="k-input k-textbox">
        </div>
        <div class="k-edit-label"><label for="ShippingProvince">Provincia</label></div>
        <div data-container-for="ShippingProvince" class="k-edit-field">
            <input type="text" name="ShippingProvince" data-bind="value:ShippingProvince" data-value-field="ShippingProvince" class="k-input k-textbox">
        </div>
        <div class="k-edit-label"><label for="ShippingNation">Nazione</label></div>
        <div data-container-for="ShippingNation" class="k-edit-field">
            <input type="text" name="ShippingNation" data-bind="value:ShippingNation" data-value-field="ShippingNation" class="k-input k-textbox">
        </div>
        <div class="k-edit-label"><label for="PayMethCode">Metodo Pagamento</label></div>
        <div data-container-for="PayMethCode" class="k-edit-field">
            <input type="text" name="PayMethCode" data-bind="value:PayMethCode" data-value-field="PayMethCode" data-text-field="PayMethDesc" data-source="dropDownPayMeth" data-role="dropdownlist">
        </div>
        <div class="k-edit-label"><label for="PayCondCode">Condizione Pagamento</label></div>
        <div data-container-for="PayCondCode" class="k-edit-field">
            <input type="text" name="PayCondCode" data-bind="value:PayCondCode" data-value-field="PayCondCode" data-text-field="PayCondDesc" data-filter="contains" data-source="dropDownPayCond" data-role="dropdownlist">
        </div>
        <!--<div class="k-edit-label"><label for="Discount">Sconto %</label></div>
        <div data-container-for="Discount" class="k-edit-field">
            <input type="text" name="Discount" data-type="number" data-bind="value:Discount" data-role="numerictextbox" data-format="n0" data-min="0" data-max="100" role="spinbutton" class="k-input">
        </div>-->
        <div class="k-edit-label"><label for="TotalAmount">Totale</label></div>
        <div data-container-for="TotalAmount" class="k-edit-field">
            <input type="text" name="TotalAmount" data-type="number" disabled="disabled" data-bind="value:TotalAmount" data-role="numerictextbox" class="k-input">
        </div>
        <div class="k-edit-label"><label for="Gain">Guadagno %</label></div>
        <div data-container-for="Gain" class="k-edit-field">
            <input type="text" name="Gain" data-type="number" disabled="disabled" data-bind="value:Gain" data-role="numerictextbox" class="k-input">
        </div>
        <div class="k-edit-label"><label for="OtherOrderReference">Riferimento vostro ordine</label></div>
        <div data-container-for="OtherOrderReference" class="k-edit-field">
            <textarea type="text" name="OtherOrderReference" maxlength="500" data-bind="value:OtherOrderReference" class="k-input k-textbox"></textarea>
        </div>

    </div>
    <div class="col-sm-6">
        <div class="row">
            <div class="col-xs-6 col-sm-6">
                <div class="k-edit-label"><label for="Reso">Spese di spedizione</label></div>
                <div data-container-for="Reso" class="k-edit-field"><input type="checkbox" name="Reso" data-type="boolean" data-bind="checked:Reso"></div>
                <div class="k-edit-label"><label for="ConsegnaDiretta">Consegna Diretta</label></div>
                <div data-container-for="ConsegnaDiretta" class="k-edit-field"><input type="checkbox" name="ConsegnaDiretta" data-type="boolean" data-bind="checked:ConsegnaDiretta"></div>
                <div class="k-edit-label"><label for="ContoVisione">Conto Visione</label></div>
                <div data-container-for="ContoVisione" class="k-edit-field"><input type="checkbox" name="ContoVisione" data-type="boolean" data-bind="checked:ContoVisione"></div>
                <div class="k-edit-label"><label for="PrevInstallazione">Prev Installazione</label></div>
                <div data-container-for="PrevInstallazione" class="k-edit-field"><input type="checkbox" name="PrevInstallazione" data-type="boolean" data-bind="checked:PrevInstallazione"></div>
                <div class="k-edit-label"><label for="Formazione">Formazione</label></div>
                <div data-container-for="Formazione" class="k-edit-field"><input type="checkbox" name="Formazione" data-type="boolean" data-bind="checked:Formazione"></div>
            </div>
            <div class="col-xs-6 col-sm-6">
                <div class="k-edit-label"><label for="Sostituzione">Sostituzione</label></div>
                <div data-container-for="Sostituzione" class="k-edit-field"><input type="checkbox" name="Sostituzione" data-type="boolean" data-bind="checked:Sostituzione"></div>
                <div class="k-edit-label"><label for="PassaggioDati">Passaggio Dati</label></div>
                <div data-container-for="PassaggioDati" class="k-edit-field"><input type="checkbox" name="PassaggioDati" data-type="boolean" data-bind="checked:PassaggioDati"></div>
                <div class="k-edit-label"><label for="AttivPagamento">Attività a Pagamento</label></div>
                <div data-container-for="AttivPagamento" class="k-edit-field"><input type="checkbox" name="AttivPagamento" data-type="boolean" data-bind="checked:AttivPagamento"></div>
                <div class="k-edit-label"><label for="Consuntivo">Consuntivo</label></div>
                <div data-container-for="Consuntivo" class="k-edit-field"><input type="checkbox" name="Consuntivo" data-type="boolean" data-bind="checked:Consuntivo"></div>
                <div class="k-edit-label"><label for="Forfait">Forfait</label></div>
                <div data-container-for="Forfait" class="k-edit-field"><input type="checkbox" name="Forfait" data-type="boolean" data-bind="checked:Forfait"></div>
            </div>
        </div>


        <div class="k-edit-label"><label for="InvoicePrintingNote">Note (in stampa sui doc)</label></div>
        <div data-container-for="InvoicePrintingNote" class="k-edit-field">
            <textarea type="text" maxlength="4000" class="k-input k-textbox" name="InvoicePrintingNote" data-bind="value:InvoicePrintingNote"></textarea>
        </div>
        <div class="k-edit-label"><label for="BackOfficeNote">Note Back Office (SAP)</label></div>
        <div data-container-for="BackOfficeNote" class="k-edit-field">
            <textarea type="text" maxlength="4000" class="k-input k-textbox" name="BackOfficeNote" data-bind="value:BackOfficeNote"></textarea>
        </div>
        <div class="k-edit-label"><label for="BillingNote">Note Fatturazione</label></div>
        <div data-container-for="BillingNote" class="k-edit-field">
            <textarea type="text" maxlength="4000" class="k-input k-textbox" name="BillingNote" data-bind="value:BillingNote"></textarea>
        </div>
        <div class="k-edit-label"><label for="TechnicalNote">Note Tecniche</label></div>
        <div data-container-for="TechnicalNote" class="k-edit-field">
            <textarea type="text" maxlength="4000" class="k-input k-textbox" name="TechnicalNote" data-bind="value:TechnicalNote"></textarea>
        </div>
    </div>

</script>
<script>
    $(document).ready(function () {
        kendo.culture("it-IT");

        $("#monthpicker").kendoDatePicker({
            // defines the start view
            start: "year",
            // defines when the calendar should return date
            depth: "year",
            // display month and year in the input
            format: "MM-yyyy",
        });

        var data = [
            { text: "Tutti", value: "" },
            { text: "Sap", value: "1" },
            { text: "WebOrder", value: "2" }
        ];

        $("#filterSap").kendoDropDownList({
            dataTextField: "text",
            dataValueField: "value",
            dataSource: data,
            index: 0,
        });

        $("#filterButton").kendoButton({
            icon: "filter",
            click: function (e) {
                dataSourceOH.options.transport.read.data = {
                    state: stateToFilter
                    , data: kendo.toString(kendo.parseDate($("#monthpicker").data("kendoDatePicker").value()), 'MM-yyyy')
                    , cusordid: $("#CusOrdOrdId").val()
                    , sapFilter: $("#filterSap").val()
                };

                dataSourceOH.read();
            }
        });

        $("#cancelButton").kendoButton({
            icon: "cancel",
            click: function (e) {
                $("#monthpicker").data("kendoDatePicker").value(null);
                $("#CusOrdOrdId").val(null);
                $("#filterSap").data("kendoDropDownList").select(0);
                $("#filterButton").click();
            }
        });
        var stateToFilter = 1;
        //dataSourceOH.read({ state: 1 });
        function btnConfirm(e) {
            var result = confirm("Una volta confermato, l'ordine NON sarà più modificabile");
            if (result) {
                var OrderHeadId = this.dataItem($(e.currentTarget).closest("tr")).ORD_ID;
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("OrderConfirm", "OrderHead")',
                    data: { orderHeadId: OrderHeadId },
                    dataType: "json",
                    success: function (e) {
                        $("#state1").click();
                        alert(e);
                    },
                    error: function (e) { alert("Errore durante la conferma :" + e); },
                });
            }
            else {
                console.log("Annullato");
            }
        }

        function btnApprove(e) {
            var result = confirm("Vuoi Approvare l'ordine?");
            if (result) {
                var OrderHeadId = this.dataItem($(e.currentTarget).closest("tr")).ORD_ID;
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("OrderApprove", "OrderHead")',
                    data: { orderHeadId: OrderHeadId },
                    dataType: "json",
                    success: function (e) {
                        $("#state2").click();
                        alert(e);
                    },
                    error: function (e) { alert("Errore durante la conferma :" + e); },
                });
            }
            else {
                console.log("Annullato");
            }
        }
    dataSourceOH = new kendo.data.DataSource({
        transport: {
            read: {
                url: "/Orderhead/readAll?state=1",
                dataType: "json"
            },
            update: {
                url: "/Orderhead/update",
                dataType: "json"
            },
            destroy: {
                url: "/Orderhead/destroy",
                dataType: "json"
            },
            create: {
                url: "/Orderhead/create",
                dataType: "json"
            },
            parameterMap: function (model, operation) {
                if (operation !== "read" && model) {
                    return { model: kendo.stringify(model) };
                }
                return model;
            }
        },
        pageSize: 20,
        schema: {
            model: {
                id: "ORD_ID",
                fields: {
                    ORD_ID: { type: "number" },
                    SAP_ORD_ID: { type: "number" },
                    SAP_ProjectID: { type: "number" },
                    SAP_OpportunityID: { type: "number" },
                    StateCode: { type: "number" },
                    CustomerCode: {},
                    CustomerDescription: {},
                    AgentCode: { type: "text" },
                    SlpName: { type: "text" },
                    ShippingAddressCode: {},
                    ShippingAddressDesc: {},
                    ShippingCap: {},
                    ShippingLocality: {},
                    ShippingProvince: {},
                    ShippingNation: {},
                    PayMethCode: {},
                    PayCondCode: {},
                    Reso: { type: "boolean" },
                    ConsegnaDiretta: { type: "boolean" },
                    ContoVisione: { type: "boolean" },
                    PrevInstallazione: { type: "boolean" },
                    Formazione: { type: "boolean" },
                    Sostituzione: { type: "boolean" },
                    PassaggioDati: { type: "boolean" },
                    AttivPagamento: { type: "boolean" },
                    Consuntivo: { type: "boolean" },
                    Forfait: { type: "boolean" },
                    Discount: { type: "number" },
                    TotalAmount: { type: "number" },
                    TotAcquisto: { type: "number" },
                    ModificationDate: { type: "date" },
                    Gain: { type: "number" },
                    OtherOrderReference: { type: "text" },
                    InvoicePrintingNote: { type: "text" },
                    BillingNote: { type: "text" },
                    TechnicalNote: { type: "text" },
                    BackOfficeNote: { type: "text" },
                    ResoNote: { type: "text" },
                    CustomAdress: { type: "number", defaultValue: 0 },
                    OfferNumber: { type: "string" },
                    ReadedByErp: { type: "date" }
                }
            }
        }
    });
        var canEdit = ('@canEdit' == 'True');
        var canRemove = ('@canRemove' == 'True');
    $("#grid").kendoGrid({
        columns: [
            { field: "ORD_ID", title: "ID", width: 35 },
            { field: "SAP_ORD_ID", title: "SAP ID", width: 75 },
            { field: "CustomerCode", title: "Cod Cliente", width: 90 },
            { field: "CustomerDescription", title: "Desc Cliente" },
            { field: "ShippingAddressDesc", title: "Indirizzo Spedizione" },
            { field: "SlpName", title: "Agent Code" },
            { field: "TotalAmount", title: "Totale", format: '{0:c}', width: 90 },
            { field: "TotAcquisto", title: "Totale Costi", format: '{0:c}', width: 90 },
            { field: "Gain", title: "Guadagno %", format: '{0:n2}', width: 95 },
            { field: "OfferNumber", title: "Numero Offerta" },
            { field: "ReadedByErp", title: "ReadedByErp", format: "{0:dd/MM/yyyy H:m:s}" },
            { command: ["edit"], title: "Modifica", width: 80, hidden: !canEdit },
            { command: ["destroy"], title: "Rimuovi", width: 95, hidden: !canRemove },
            { command: { text: "Conferma", click: btnConfirm }, title: " ", width: 95 },
            { command: { text: "Approva", click: btnApprove }, title: " ", width: 95, hidden: true },
        ],
        editable: {
            mode: "popup",
            template: kendo.template($("#popup_editor_orderHeadGrid").html()),
            window: {
                title: "Crea/Modifica",
                width: "90%",
                height: "90%",
            }
        },
        dataSource: dataSourceOH,
        pageable: true,
        resizable: true,
        detailInit: detailInit,
        edit: function (e) {
                    if (stateToFilter != 0) {
                        $(".k-grid-update").hide();
                    }


                    var BackOfficeNote = $(e.container).find("textarea[name='BackOfficeNote']");
                    $("input[type='checkbox']").change(function (e) {
                        var str = BackOfficeNote.val();
                        if (this.checked)
                            str += this.name + ": sì, ";
                        else
                            str = str.replace(this.name + ": sì, ", "");

                        BackOfficeNote.val(str);
                    });

                    var dropDownCus = $(e.container).find("input[name='CustomerCode']");
                    var dropDownShip = $(e.container).find("input[name='ShippingAddress']");
                    var dropDownPayMeth = $(e.container).find("input[name='PayMethCode']");
                    var dropDownPayCond = $(e.container).find("input[name='PayCondCode']");

                    dropDownCus.data("kendoDropDownList").dataSource.filter({ field: "CustomerCode", operator: "equals", value: dropDownCus.data("kendoDropDownList").value() });

                    //COLOR METH PAYMENT DROPDOWN ITEM
                    dropDownPayMeth.data("kendoDropDownList").bind("dataBound", function (e) {
                        var li_items = $(".k-list-scroller").find("ul").find("li");

                        index = 0;
                        for (index = 0; index < li_items.length; ++index) {
                            if (li_items[index].textContent.indexOf('B.B.') != -1
                                || li_items[index].textContent.indexOf('Bon') != -1
                                || li_items[index].textContent.indexOf('BB.') != -1) {
                                li_items[index].style.color = 'red';
                            }

                            if (li_items[index].textContent.indexOf('Ricevute') != -1) {
                                li_items[index].style.color = 'green';
                            }
                        }
                    });

                    dropDownCus.data("kendoDropDownList").bind("dataBound", function (e) {
                        if ($.isEmptyObject(e.sender.dataItems()) == false && e.sender.dataItems().length == 1) {
                            e.sender.select(0);
                            e.sender.trigger("change");
                        }
                    });
                    dropDownCus.data("kendoDropDownList").bind("change", function (e) {
                        if (e.sender.dataSource.filter().filters[0].value != e.sender.dataItem().CustomerCode)
                            e.sender.dataSource.filter().filters[0].value = e.sender.dataItem().CustomerCode;

                        if (dropDownPayMeth.data("kendoDropDownList").value() != e.sender.dataItem().PayMethCode && dropDownPayMeth.data("kendoDropDownList").value() != "") {

                        }
                        else {
                            dropDownPayMeth.data("kendoDropDownList").value(e.sender.dataItem().PayMethCode);

                            switch (dropDownPayMeth.data("kendoDropDownList").value()) {
                                case 'BBIN':
                                    $("[data-container-for=PayMethCode]").children().children().children()[0].style.color = 'red';
                                    break;
                                case 'BBINBCC':
                                    $("[data-container-for=PayMethCode]").children().children().children()[0].style.color = 'red';
                                    break;
                                case 'BBINBCCL':
                                    $("[data-container-for=PayMethCode]").children().children().children()[0].style.color = 'red';
                                    break;
                                case 'BBINBP':
                                    $("[data-container-for=PayMethCode]").children().children().children()[0].style.color = 'red';
                                    break;
                                case 'BBINBPSC':
                                    $("[data-container-for=PayMethCode]").children().children().children()[0].style.color = 'red';
                                    break;
                                case 'BBINCCR':
                                    $("[data-container-for=PayMethCode]").children().children().children()[0].style.color = 'red';
                                    break;
                                case 'BBINCRPP':
                                    $("[data-container-for=PayMethCode]").children().children().children()[0].style.color = 'red';
                                    break;
                                case 'BBINISP':
                                    $("[data-container-for=PayMethCode]").children().children().children()[0].style.color = 'red';
                                    break;
                                case 'BBINMPS':
                                    $("[data-container-for=PayMethCode]").children().children().children()[0].style.color = 'red';
                                    break;
                                case 'BEPIN':
                                    $("[data-container-for=PayMethCode]").children().children().children()[0].style.color = 'red';
                                    break;
                                case 'RBIN':
                                    $("[data-container-for=PayMethCode]").children().children().children()[0].style.color = 'green';
                                    break;
                                default:
                                    $("[data-container-for=PayMethCode]").children().children().children()[0].style.color = 'black';
                                    break;
                            }
                        }

                        if (dropDownPayCond.data("kendoDropDownList").value() != e.sender.dataItem().PayCondCode && dropDownPayCond.data("kendoDropDownList").value() != "") {

                        }
                        else {
                            dropDownPayCond.data("kendoDropDownList").value(e.sender.dataItem().PayCondCode);
                        }

                    });

                    dropDownPayMeth.data("kendoDropDownList").bind("change", function (e) {
                        //BELOW THE CODE FOR COLOR METODO PAGAMENTO WHEN PAYMEN METH CHANGE
                        switch (dropDownPayMeth.data("kendoDropDownList").value()) {
                            case 'BBIN':
                                $("[data-container-for=PayMethCode]").children().children().children()[0].style.color = 'red';
                                break;
                            case 'BBINBCC':
                                $("[data-container-for=PayMethCode]").children().children().children()[0].style.color = 'red';
                                break;
                            case 'BBINBCCL':
                                $("[data-container-for=PayMethCode]").children().children().children()[0].style.color = 'red';
                                break;
                            case 'BBINBP':
                                $("[data-container-for=PayMethCode]").children().children().children()[0].style.color = 'red';
                                break;
                            case 'BBINBPSC':
                                $("[data-container-for=PayMethCode]").children().children().children()[0].style.color = 'red';
                                break;
                            case 'BBINCCR':
                                $("[data-container-for=PayMethCode]").children().children().children()[0].style.color = 'red';
                                break;
                            case 'BBINCRPP':
                                $("[data-container-for=PayMethCode]").children().children().children()[0].style.color = 'red';
                                break;
                            case 'BBINISP':
                                $("[data-container-for=PayMethCode]").children().children().children()[0].style.color = 'red';
                                break;
                            case 'BBINMPS':
                                $("[data-container-for=PayMethCode]").children().children().children()[0].style.color = 'red';
                                break;
                            case 'BEPIN':
                                $("[data-container-for=PayMethCode]").children().children().children()[0].style.color = 'red';
                                break;
                            case 'RBIN':
                                $("[data-container-for=PayMethCode]").children().children().children()[0].style.color = 'green';
                                break;
                            default:
                                $("[data-container-for=PayMethCode]").children().children().children()[0].style.color = 'black';
                                break;
                        }

                    });

                    dropDownShip.data("kendoDropDownList").bind("dataBound", function (e) {
                        if ($.isEmptyObject(e.sender.dataItems()) == false && e.sender.dataItems().length > 1) {
                            if (e.sender.selectedIndex != 0) {
                                e.sender.select(e.sender.selectedIndex);
                                e.sender.trigger("change");

                            } else {
                                e.sender.select(0);
                                e.sender.trigger("change");

                            }
                        }
                    });

            dropDownShip.data("kendoDropDownList").bind("change", function (ee) {
                        //se il codice della tendina della Ricerca indirizzo Sped è diversa dal codice nel web config
                        //allora è una destinazione di SAP e la rendo non modificabile e la coloro di grigio
                        if (e.model.ShippingAddressCode != "@fakeShippingCode") {

                                e.model.set("ShippingAddressDesc", ee.sender.dataItem().Street);
                                e.model.set("ShippingCap", ee.sender.dataItem().CapCode);
                                e.model.set("ShippingLocality", ee.sender.dataItem().City);
                                e.model.set("ShippingProvince", ee.sender.dataItem().Prov);
                                e.model.set("ShippingNation", ee.sender.dataItem().Country);

                                $("[name='ShippingAddressDesc']").attr("readonly", true);
                                $("[name='ShippingAddressDesc']").attr("style", "background-color:	#ebebe4!important");

                                $("[name='ShippingCap']").attr("readonly", true);
                                $("[name='ShippingCap']").attr("style", "background-color:	#ebebe4!important");

                                $("[name='ShippingLocality']").attr("readonly", true);
                                $("[name='ShippingLocality']").attr("style", "background-color:	#ebebe4!important");

                                $("[name='ShippingProvince']").attr("readonly", true);
                                $("[name='ShippingProvince']").attr("style", "background-color:	#ebebe4!important");

                                $("[name='ShippingNation']").attr("readonly", true);
                                $("[name='ShippingNation']").attr("style", "background-color:	#ebebe4!important");
                            }
                            else {
                                /*e.model.set("ShippingAddressDesc", null);
                                e.model.set("ShippingCap", null);
                                e.model.set("ShippingLocality", null);
                                e.model.set("ShippingProvince", null);
                                e.model.set("ShippingNation", null);*/

                            $("[name='ShippingAddressDesc']").attr("readonly", false);
                            $("[name='ShippingAddressDesc']").attr("style", "background-color:	#fff!important");

                            $("[name='ShippingCap']").attr("readonly", false);
                            $("[name='ShippingCap']").attr("style", "background-color:	#fff!important");

                            $("[name='ShippingLocality']").attr("readonly", false);
                            $("[name='ShippingLocality']").attr("style", "background-color:	#fff!important");

                            $("[name='ShippingProvince']").attr("readonly", false);
                            $("[name='ShippingProvince']").attr("style", "background-color:	#fff!important");

                            $("[name='ShippingNation']").attr("readonly", false);
                            $("[name='ShippingNation']").attr("style", "background-color:	#fff!important");
                            }
                    });
                },
    });

        dropDownCus = new kendo.data.DataSource({
            serverFiltering: true,
            transport: {
                read: {
                    url: "/customer/read",
                    dataType: "json",
                },
                parameterMap: function (f, e) {
                    if ($.isEmptyObject(f) == false && $.isEmptyObject(f.filter) == false && f.filter.filters.length == 1)
                        return { filter: f.filter.filters[0].value };
                    else if ($.isEmptyObject(f) == false && $.isEmptyObject(f.filter) == false && f.filter.filters.length == 2)
                        return { filter: f.filter.filters[1].value };
                }

            }
        });


        dropDownShip = new kendo.data.DataSource({
            serverFiltering: true,
            transport: {
                read: {
                    url: "/customer/readAddresses",
                    dataType: "json",
                },
                parameterMap: function (f) {

                    if ($.isEmptyObject(f) == false && $.isEmptyObject(f.filter) == false && f.filter.filters.length == 1)
                        return { codCli: f.filter.filters[0].value };
                    else if ($.isEmptyObject(f) == false && $.isEmptyObject(f.filter) == false && f.filter.filters.length == 2)
                        return { codCli: f.filter.filters[0].value, filter: f.filter.filters[1].value };
                }

            }
        });

        dropDownPayMeth = new kendo.data.DataSource({
            serverFiltering: true,
            transport: {
                read: {
                    url: "/customer/readPayMeth",
                    dataType: "json",
                },
            }
        });

        dropDownPayCond = new kendo.data.DataSource({
            serverFiltering: true,
            transport: {
                read: {
                    url: "/customer/readPayCond",
                    dataType: "json",
                },
                parameterMap: function (f) {

                    if ($.isEmptyObject(f) == false && $.isEmptyObject(f.filter) == false && f.filter.filters.length > 0)
                        return { filter: f.filter.filters[0].value };
                }
            }
        });

        dropDownAgent = new kendo.data.DataSource({
            serverFiltering: true,
            transport: {
                read: {
                    url: "/agent/read",
                    dataType: "json",
                },
            }
        });

        function detailInit(e) {
            lastRowIndex = $(e.masterRow).index(".k-master-row");
            $("<div/>").appendTo(e.detailCell).kendoGrid({
                dataSource: {
                    transport: {
                        read: {
                            url: "/Orderdetail/read",
                            dataType: "json",
                        },
                        update: {
                            type: "POST",
                            url: "/Orderdetail/update",
                            dataType: "json",
                        },
                        destroy: {
                            type: "POST",
                            url: "/Orderdetail/destroy",
                            dataType: "json"
                        },
                        create: {
                            url: "/Orderdetail/create",
                            dataType: "json"
                        },
                        parameterMap: function (model, operation) {
                            if (operation !== "read" && model) {
                                return { model: kendo.stringify(model) };
                            }
                            else {
                                return { filter: model.filter.filters[0].value };
                            }
                        }
                    },
                    schema: {
                        model: {
                            id: "OPR_ID",
                            fields: {
                                OPR_ID: { type: "number" },
                                OrderHeadCode: { type: "number", defaultValue: e.data.ORD_ID },
                                KitHeadCode: { type: "number" },
                                ArtCode: { validation: { required: true } },
                                NewArtCode: { type: "boolean", editable: false },
                                ArtDescr: { type: "text" },
                                Supplier: { type: "text", validation: { required: true } },
                                Producer: { type: "text" },
                                AreaCode: { type: "text" },
                                ClassCode: { type: "text" },
                                SectorCode: { type: "text" },
                                Quantity: { type: "number", defaultValue: 0, validation: { required: true, min: 1 } },
                                UnitCost: { type: "number", defaultValue: 0, validation: { required: true, min: 0 } },
                                UnitPrice: { type: "number", validation: { required: true, min: 0 }, defaultValue: 0 },
                                ProducerWarrantyDurationMonth: { type: "number", defaultValue: 0, validation: { min: 0 } },
                                CustomWarrantyUnitPrice: { type: "number" },
                                CustomWarrantyInitDate: { type: "date", defaultValue: null },
                                CustomWarrantyDurationMonth: { type: "number", defaultValue: 0, validation: { min: 0 } },
                                BID_Note: { type: "text" },
                                DetailNote: { type: "text" },
                            }
                        }
                    },
                    sync: function (e) {
                        $("#OrderHeadGrid").data("kendoGrid").dataSource.read();
                    },
                    serverFiltering: true,
                    filter: { field: "ORD_ID", operator: "eq", value: e.data.ORD_ID }
                },
                toolbar: ["create"],
                editable: {
                    mode: "popup",
                    window: {
                        title: "Crea/Modifica",
                        width: "60%",
                        height: "70%",
                    }
                }, dataBound: function () {
                    if (stateToFilter != 0) {
                        $(".k-grid-delete").hide();
                        this.hideColumn(this.columns.length - 1);
                        $(".k-grid-toolbar").hide();
                    }
                    else {
                        this.showColumn(this.columns.length - 1);
                        $(".k-grid-toolbar").show();
                    }
                },
                edit: function (e) {
                    if (stateToFilter != 0) {
                        $(".k-grid-update").hide();
                    }


                    var maxLenNote = 495;
                    $("[name='DetailNote']").keydown(function (event) {
                        var Length = $("[name='DetailNote']").val().length;
                        if (Length >= maxLenNote && event.keyCode != 8) {
                            alert("Superato il numero consetito di Caratteri!");
                        }
                    });

                    var maxLenArtDesc = 95;
                    $("[name='ArtDescr']").keydown(function (event) {
                        var str = $("[name='ArtDescr']").val();
                        console.log(str.length);
                        if (str.length >= maxLenArtDesc && event.keyCode != 8) {
                            alert("Superato il numero consetito di 100 Caratteri!");
                        }
                    });

                },
                columns: [
                    { field: "ArtSapSelection", title: "Ricerca Articolo SAP", editor: artSapEditor, hidden: true, template: "#=ArtCode.ItemCode#" },
                    { field: "ArtCode", title: "Codice", width: 100 },
                    { field: "ArtDescr", title: "Descrizione" },
                    { field: "Supplier", title: "Fornitore", hidden: true },
                    { field: "Quantity", title: "Quantità", format: '{0:n0}', width: 70 },
                    { field: "UnitCost", title: "Costo unitario", format: '{0:c}', width: 100 },
                    { field: "UnitPrice", title: "Prezzo unitario", format: '{0:c}', width: 100 },
                    { field: "BID_Note", title: "Note BID", hidden: true, },
                    { field: "DetailNote", title: "Note di riga (in stampa sui doc)" },
                    { command: ["edit"], title: "Modifica", width: 80 },
                    { command: ["destroy"], title: "Rimuovi", width: 90 },
                ]
            });
        }

        function artSapEditor(container, options) {
            $('<input data-text-field="ItemName" data-value-field="ItemCode" data-bind="value:ArtCode"/>')
                .appendTo(container)
                .kendoDropDownList({
                    filter: "contain",
                    autoBind: true,
                    optionLabel: '-',
                    change: function (e) {
                        options.model.set("ArtCode", e.sender.dataItem().ItemCode);
                        options.model.set("ArtDescr", e.sender.dataItem().ItemName);
                        options.model.set("Producer", "Sconosciuto");
                        options.model.set("AreaCode", e.sender.dataItem().U_SED_AREA_AFFARI);
                        options.model.set("ClassCode", e.sender.dataItem().U_SED_CLASSE_VENDITE);
                        options.model.set("SectorCode", e.sender.dataItem().U_SED_SETTORI);
                    },
                    dataSource: {
                        serverFiltering: true,
                        transport: {
                            read: {
                                url: "/articles/ReadArtSap",
                                dataType: "json",
                            },
                            parameterMap: function (f, operation) {
                                if ($.isEmptyObject(f) == false && $.isEmptyObject(f.filter) == false && f.filter.filters.length > 0)
                                    return { filter: f.filter.filters[0].value };
                            }
                        }
                    }
                });
        };
    });
</script>
