﻿@{
    ViewBag.Title = "Ordini";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string fakeShippingCode = System.Configuration.ConfigurationManager.AppSettings["StringAddressCode"];
    int id = int.Parse(ViewBag.UserId);
    bool isTech = (OrdiniSDG.Classes.Globals.getEFContext().USR_User.Where(u => u.USR_ID == id).FirstOrDefault().Role == 4);

    int ApproveID = Convert.ToInt32(System.Configuration.ConfigurationManager.AppSettings["ApproveUsers"]);
    bool IDApprove = (OrdiniSDG.Classes.Globals.getEFContext().USR_User.Where(u => u.USR_ID == id).FirstOrDefault().USR_ID == ApproveID);
}

<div>
    @*<h2>@ViewBag.Title</h2>*@
    <ul class="nav nav-tabs">
        <li class="active"><a id="state0" href="#" onclick="readCall(0)">Bozze Ordini Creati</a></li>
        @*State two is Reserved for Approve Orders*@
        @*<li><a id="state2" href="#" onclick="readCall(2)">Ordini Approvati</a></li>*@
        <li><a id="state1" href="#" onclick="readCall(1)">Ordini Completati</a></li>
        <li><a id="state3" href="#" onclick="readCall(3)">Ordini a ERP</a></li>
    </ul>
</div>

<div id="OrderHeadGrid">
    
</div>


<script>
    $(document).ready(function () {
        readCall(0)
    });
    function readCall(ordState) {
        $("#state" + ordState).parent().parent().children().removeClass("active")
        $("#state" + ordState).parent().addClass("active")
        $('#OrderHeadGrid').empty();
        $('#OrderHeadGrid').load(`@Url.Action("GetState", "OrderHead")?state=${ordState}`);
    }
    $(function () {
        if("@isTech" == "True")
            readCall(3);
    });
</script>