﻿<!-- Footer -->
<footer class="clearfix">
    <div class="pull-right">
        Crafted by <a href="http://www.lyb.it" target="_blank">Lyb</a>
    </div>
    <div class="pull-left">
        <span id="year-copy"></span> &copy; <a href="http://www.lyb.it" target="_blank">ORDINI SDG 0.1</a>
    </div>
</footer>
<!-- END Footer -->
