﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <script>

        $(document).ready(function (){
            $("#hMenu"+"@ViewBag.Title").addClass("active");
        })

    </script>
    <!-- Sidebar Navigation -->
<ul class="sidebar-nav">
    @*<li>
            <a href="@Url.Action("Index","Home")" ><i class="gi gi-stopwatch sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Dashboard</span></a>
        </li>*@

    <li class="sidebar-header">
        @* <span class="sidebar-header-options clearfix"><a href="javascript:void(0)" data-toggle="tooltip" title="Quick Settings"><i class="gi gi-settings"></i></a><a href="javascript:void(0)" data-toggle="tooltip" title="Create the most amazing pages with the widget kit!"><i class="gi gi-lightbulb"></i></a></span>*@
        <span class="sidebar-header-title">GESTIONE</span>
    </li>
    <li>
        <a class="@(ViewContext.RouteData.Values["Action"].ToString() == "OrderHead" ? "active" : "")" id="hMenuOrdini" href="@Url.Action("Index","OrderHead")"><i class="gi gi-charts sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Ordini</span></a>
    </li>
    @if (User.IsInRole("1"))
    {
        <li>
            <a class="@(ViewContext.RouteData.Values["Action"].ToString() == "CreateUser" ? "active" : "")" id="hMenuOrdini" href="@Url.Action("CreateUser","Account")"><i class="gi gi-user sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Lista utenti</span></a>
        </li>
    }
    @*
            <li>
                <a id="hMenuKit" href="@Url.Action("Index","KitHead")"><i class="gi gi-wrench sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Kit</span></a>
            </li>
            <li>
            <a id="hMenuClienti" href="@Url.Action("Index","Customer")"><i class="gi gi-link sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Clienti</span></a>
        </li>
        <li>
            <a id="hMenuClienti" href="@Url.Action("Index","Articles")"><i class="gi gi-film sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Prodotti</span></a>
        </li>*@

</ul>
    <!-- END Sidebar Navigation -->
}
else
{
    <!-- Sidebar Navigation -->
    <ul class="sidebar-nav">
        <li>
            <a href="@Url.Action("Index","Home")" class="active"><i class="gi gi-log_in sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Login</span></a>
        </li>

    </ul>
    <!-- END Sidebar Navigation -->
}
