﻿
@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <!-- User Info -->
    <div class="sidebar-section sidebar-user clearfix sidebar-nav-mini-hide">
        @*<div class="sidebar-user-avatar">
            <a href="page_ready_user_profile.html">
                <img src="~/Content/img/placeholders/avatars/avatar2.jpg" alt="avatar">
            </a>
        </div>*@
        <div class="sidebar-user-name">@User.Identity.GetUserName()</div>
        <div class="sidebar-user-links">
            @*<a href="page_ready_user_profile.html" data-toggle="tooltip" data-placement="bottom" title="Profile"><i class="gi gi-user"></i></a>*@
            @*<a href="page_ready_inbox.html" data-toggle="tooltip" data-placement="bottom" title="Messages"><i class="gi gi-envelope"></i></a>*@
            <!-- Opens the user settings modal that can be found at the bottom of each page (page_footer.html in PHP version) -->
            @*<a href="javascript:void(0)" class="enable-tooltip" data-placement="bottom" title="Settings" onclick="$('#modal-user-settings').modal('show');"><i class="gi gi-cogwheel"></i></a>*@

            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-left" }))
            {
                @Html.AntiForgeryToken()

                <a href="javascript:document.getElementById('logoutForm').submit()" data-toggle="tooltip" data-placement="bottom" title="Logout"><i class="gi gi-log_out"></i></a>
            }
        </div>
    </div>
    <!-- END User Info -->
}
