﻿@using System.Security.Claims;

@{
    ViewBag.Title = "Create User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="grid"></div>

<script src="" id="popup_editor_userGrid" type="text/x-kendo-template">
    <div class="col-sm-6">

            <input type="hidden" name="USR_ID"  data-bind="value:USR_ID">
        <div class="k-edit-label"><label for="Email">Email</label></div>
        <div data-container-for="SAP_ORD_ID" class="k-edit-field k-state-disabled">
            <input type="email" name="Email" data-type="Email" data-bind="value:Email"  class="k-input k-textbox">
        </div>
        <div class="k-edit-label"><label for="Username">Username</label></div>
        <div data-container-for="Username" class="k-edit-field">
            <input type="text" onchange="validUserName(this);" name="Username" data-bind="value:Username" class="k-input k-textbox">
            <p style="display: none;color: red;font-size: 11px;margin: 0;" id="errorUserName">User Name is alrady exist!</p>
        </div>
        <div class="k-edit-label"><label for="Password">Password</label></div>
        <div data-container-for="Password" class="k-edit-field">
            <input type="password" name="Password" data-bind="value:Password" class="k-input k-textbox">
        </div>
        <div class="k-edit-label"><label for="Name">Name</label></div>
        <div data-container-for="Name" class="k-edit-field">
            <input type="text" name="Name" data-bind="value:Name" class="k-input k-textbox">
        </div>
        <div class="k-edit-label"><label for="Surname">Surname</label></div>
        <div data-container-for="Surname" class="k-edit-field">
            <input type="text" name="Surname" data-bind="value:Surname" class="k-input k-textbox">
        </div>

        <div class="k-edit-label"><label for="Role">Role</label></div>
        <div data-container-for="Customer" class="k-edit-field">
            <input type="text" required name="Role" id="Role" data-auto-bind="false" data-value-field="RLE_ROLE1" data-text-field="Description" data-bind="value:Role" data-source="dropDownRol" data-role="dropdownlist">
        </div>
    </div>

</script>
<script>
    $("#inputUserName").bind('change', function () {
        console.log($(this).val())
    })

    function validUserName(e) {
        $.ajax({
            url: '/Account/IsExistUserName?userName=' + e.value,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (res) {
                if (res) {
                    $("#errorUserName").show();
                } else {
                    $("#errorUserName").hide();
                }
                console.log(res)
            },
            error: function (err) {
                console.log(err)
            }
        });
    }
    $(document).ready(function () {

        kendo.culture("it-IT");


    dataSourceOH = new kendo.data.DataSource({
        transport: {
            read: {
                url: "/Account/getusers",
                dataType: "json"
            },
            update: {
                url: "/Account/UpdateUser",
                dataType: "json"
            },
            destroy: {
                url: "/Account/destroy",
                dataType: "json"
            },
            create: {
                url: "/Account/AddUser",
                dataType: "json"
            },
            parameterMap: function (model, operation) {
                if (operation !== "read" && model) {
                    return { model: kendo.stringify(model) };
                }
                return model;
            }
        },
        pageSize: 20,
        schema: {
            model: {
                id: "USR_ID",
                fields: {
                    USR_ID: { type: "number" },
                    Email: { type: "string" },
                    Username: { type: "string" },
                    Password: { type: "string" },
                    Name: { type: "string" },
                    Surname: { type: "string" },
                    Role: { type: "number" },
                    CreationDate: { type: "date" },
                    UserModify: { type: "number" },
                    DeletingDate: { type: "date" },
                    LastLoginDate: { type: "date" },
                    LastPasswordChangedDate: { type: "date" },
                    GuidRestorePass: { type: "string" },
                    VerifDateGuidRP: { type: "date" },
                    USR_ID_SAP: { type: "string" },
                }
            }
        }
    });
    $("#grid").kendoGrid({
        columns: [
            { field: "USR_ID", title: "ID", width: 35 },
            { field: "Email", title: "Email", width: 150 },
            { field: "Username", title: "Username", width: 90 },
            { field: "Name", title: "Name", width: 90 },
            { field: "Surname", title: "Surname", width: 90 },
            { field: "RoleName", title: "Role", width: 90 },
            { command: ["edit"], title: "Modifica", width: 80 },
            { command: ["destroy"], title: "Rimuovi", width: 95 },
        ],
        editable: {
            mode: "popup",
            template: kendo.template($("#popup_editor_userGrid").html()),
            window: {
                title: "Crea/Modifica",
                width: "40%",
                height: "56%",
            }
        },
        dataSource: dataSourceOH,
        pageable: true,
        resizable: true,
        toolbar: ["create",],
        edit: function (e) {
            dropDownRol = new kendo.data.DataSource({
                filter: false,
                transport: {
                    read: {
                        url: "/Account/GetRoles",
                        dataType: "json",
                    },
                    parameterMap: function (f, e) {
                        if ($.isEmptyObject(f) == false && $.isEmptyObject(f.filter) == false && f.filter.filters.length == 1)
                            return { filter: f.filter.filters[0].value };
                        else if ($.isEmptyObject(f) == false && $.isEmptyObject(f.filter) == false && f.filter.filters.length == 2)
                            return { filter: f.filter.filters[1].value };
                    }

                }
            });
            dropDownRol.fetch(function () {
                $("#Role").kendoDropDownList({
                    dataSource: dropDownRol
                });
            });
        }
    });
    });
</script>
