﻿

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/

/*Custom section*/

#page-content {
        padding: 10px 20px 1px;
    }

#page-content + footer {
    padding: 0px 10px;
    font-size: 10px;
    background-color: #ffffff;
    border-top: 1px solid #dbe1e8;
}

h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

div.k-edit-form-container
{
    width: auto;
}


/*
    Increase the width of the edit form.
    The default one is 400px.
*/

.k-edit-form-container
{
    width: 500px;
}

/*
    Decrease the width of the edit form labels. The default one is 30%.
    The new width should depend on the column titles.
    Switch the text alignment to the left. By default, it is to the right.
*/

.k-popup-edit-form .k-edit-label
{
    width: 30%;
    text-align: left;
}

/*
    Increase the width of the textbox containers. The default one is 60%.
    The sum of label and editor percentage widths should be around 90%, to make up for existing paddings.
*/
.k-popup-edit-form .k-edit-field
{
    width: 60%;
}

textarea.k-textbox{
    min-height:95px;
}

/*
    Expand the edit textboxes and any other Kendo UI widgets.
    In case of unexpected side effects, use widget-specific classes, instead of .k-widget.
*/
.k-popup-edit-form .k-edit-field > .k-textbox,
.k-popup-edit-form .k-edit-field > .k-widget:not(.k-tooltip)
{
    width: 100% ;
}
.k-numerictextbox .k-input {
    width: 98%;
    text-align: right;
    padding-right: 5px !important;
}

.sidebar-user {
    padding-left: 58px;
    background: rgba(255, 255, 255, 0.1);
}

.k-list-container {
    /*width: auto !important;
    min-width: 120px !important;
    max-width: 210px !important;*/
    height:auto !important;
    min-height:175px !important;
    max-height:575px !important;
}

.k-list-scroller {
    /*width: auto !important;
    min-width: 120px !important;
    max-width: 210px !important;*/
    height:auto !important;
    min-height:100px !important;
    max-height:500px !important;
}