﻿<span>Gentile utente,</span>
<br />
<span>hai ricevuto questa e-mail perchè l'indirizzo @ViewBag.Email è stato indicato nel form per il recupero della password dimenticata in SDG|ORDINI.</span>
<br />
<br />

<a href="@ViewBag.url" style="text-decoration:underline">Per scegliere una nuova password clicca qui.</a>

<br />
<br />

<span>Se pensi di aver ricevuto questa e-mail per errore, per favore ignorala.</span>
